apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-deployment
spec:
  selector:
    matchLabels:
      app: go
  replicas: 1 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: go
    spec:
      containers:
      - name: golang
        image: vladica2007/app:latest
        #imagePullPolicy: Never
        ports:
        - containerPort: 8080
